<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Marinara</title>
</head>
<body>
<footer class="container-fluid text-center border border-dark p-2 bg-warning col-8" th:fragment="footer">
    <i class="text-right col-12 text-muted font-weight-light text-warning">How to make Marinara </i><br>
    <i class="text-right col-12 text-muted font-weight-light text-warning">NealCo Industries ©2020</i><br>
    <i class="text-right col-12 text-muted font-weight-light text-warning">A Division of Mom's Friendly Robot Company™</i>
    <li class="nav-item">
        <a class="nav-link text-white" th:href="@{/credits}">Who to Blame</a>
    </li>
</footer>

</body>
</html>