<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Marinara</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}">
</head>
<body class="text-center">

<div class="text-center" th:insert="fragments/_header :: header"></div>
    <div class="bg-info border border-dark container-fluid text-center mt-2 p-2 bg-secondary col-8">
        <h2 class="font-weight-bolder">How To Make A World Class Marinara</h2><hr>

        <p>Making a quality marinara sauce is fundamental if one is to master the art of Italian cooking.
            Most quality Italian restaurants have their own signature recipe which helps define them as a
            restaurant.  Here, we can recreate that classic flavor in our own home kitchen.  There are three central
            topics that we will cover: equipment, ingredients, and production.  Before you begin this process,
            read through this entire description so that you have an idea of what steps are coming.
            This will help you so you don’t get thrown off guard
        </p>
        <a class="nav nav-pills bg-dark p-2 border border-dark font-weight-bold" th:href="@{/equipment}">Start Here</a>

    </div>
<div class="border border-dark container-fluid text-center mt-2 p-0 bg-secondary col-8">
    <div class="row">
        <img class="text-center m-auto" th:src="@{/img/basil.jpg}" height="200px">
        <img class="text-center m-auto" th:src="@{/img/tomatoes.jpeg}" height="200px">
        <img class="text-center m-auto" th:src="@{/img/ingredients.jpg}" height="200px">
    </div>
</div>


<div class="text-sm-center p-5" th:insert="fragments/_footer :: footer"></div>
</body>
</html>