<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Marinara</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}">
</head>
<body class="text-center">

<div class="text-center" th:insert="fragments/_header :: header"></div>
    <div class="bg-info border border-dark container-fluid text-center mt-2 p-2 bg-secondary col-8">
        <h2 class="font-weight-bolder">Welcome to the World of Food!</h2><hr>


    </div>
<div class="border border-dark container-fluid text-center mt-2 p-0 bg-secondary col-8">
    <div class="row">
        <img class="text-center m-auto" th:src="@{/img/basil.jpg}" height="200px">
        <img class="text-center m-auto" th:src="@{/img/tomatoes.jpeg}" height="200px">
        <img class="text-center m-auto" th:src="@{/img/ingredients.jpg}" height="200px">
    </div>
</div>


<div class="text-sm-center p-5" th:insert="fragments/_footer :: footer"></div>
</body>
</html>